@font-face {
  font-family: Light;
  src: url(../fonts/Poppins-Light.ttf);
}
@font-face {
  font-family: Bold;
  src: url(../fonts/Poppins-Bold.ttf);
}
@font-face {
  font-family: Thin;
  src: url(../fonts/Poppins-Thin.ttf);
}
